.total-div{
    width: 40%;
    text-align: right;
    float: right;
    margin: 0px;
    padding: 0px 10px;

}

.store-div{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.add-btn{
    margin-left: 10px;
}

h3{
    text-align: center;
    width: 20%;
    margin: 10px auto;
}
.category-li{
    list-style: none;
    border: thin gray solid;
    min-width: 100px;
    text-align: center;
    margin: 10px 30px;
}

.category-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: start;
}