.choice-div{
    padding-top: 5%;
    text-align: center;
}

.choice-li{
    margin: 10px;
}

button{
    margin: 0px 10px;
    border-radius: 4px;
    padding: 2px 5px;
}

.assign-form{
    margin-top: 30px;
    border: thin solid gray;
    width: 20%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 12px;
}