.newbag-formA{
    text-align: left;
    width: 30%;
    margin:  10px auto;
    border: thin solid gray;
    padding: 15px 0px 50px 10px;
    border-radius: 12px;
}

.row-form{
    padding-top: 10px;
}

.newbag-label{
    margin-right: 60px;
}

.jigjog{
    margin-top: 10px;
    float: right;
}

.submit-formbtnr{
    margin-right: 30px;
}

@media screen and (max-width: 480px) {
    
    .newbag-formA{
        text-align: left;
        width: 90%;
        margin:  10px auto;
        border: thin solid gray;
        padding: 15px 0px 50px 10px;
        border-radius: 12px;
    }

    .newbag-label{
        margin-right: 20px;
    }

  }
