.newbag-form{
    text-align: left;
    width: 30%;
    margin: 10% auto 10px;
}

.row-form{
    padding-top: 10px;
}

.newbag-label{
    margin-right: 60px;
}

.jigjog{
    margin-top: 10px;
    float: right;
}

.submit-formbtn{
    margin-right: 25%;
}