.total-individual{
    text-align: right;
    padding: 10px;
}

.bags-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:start;
    align-items: start;
}

.bags-li{
    list-style: none;
    border: thin gray solid;
    min-width: 200px;
    min-height: 200px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
}

.bags-name{
    margin-top: 10px;
}

.bags-btn{
    margin-right: 10%;
    margin-top: 20px;
}

.bags-img{
    margin-left: 2%;
    border-radius: 12px;
}