.addstaff-btn{
    float: right;
}

.staffs-ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: start;
}

.staffs-li{
    list-style: none;
    border: thin gray solid;
    min-width: 80%;
    text-align: center;
    margin: 10px auto;
    border-radius: 12px;
}

.staffs-li > p{
    float: left;
    width: 33%;
    text-align: center;

}

.cover{
    border: none;
    border-bottom: solid thin black;
    border-radius: 0px;
    font-weight: bolder;
}

@media screen and (max-width: 600px) {
    .staffs-ul {
        padding-left: 0px;
    }
}