.indstaff-div{
    width: 25%;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    border: thin solid;
    padding: 20px;
    min-height: 200px;
    
}

.indStaff-p{
    clear: both;
}


.indStaff-p > h4{
    float: left;
    padding-left: 10px;
}

.indStaff-p > p{
    margin-right: 37%;
    text-align: left;
    width: 30%;
    padding-top: 5px;
    float: right;

}

.btn-1{
    clear: both;
    float: right;
}

.btn-12{
    float: right;
}