.addshop-btn{
    float: right;
}

.allshop-ul{
    clear: both;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: start;
}

.allshop-li{
    list-style: none;
    border: thin gray solid;
    min-width: 80%;
    text-align: center;
    margin: 10px auto;
    border-radius: 12px;
    padding: 5px;
}

.title-ul{
    border: none;
    border-bottom: thin solid black;
    border-radius: 0px;
    font-weight: bolder;
}

@media screen and (max-width: 600px) {
    .allshop-ul{
        padding-left: 0px;
    }
  }