.bags-lis{
    list-style: none;
    border: thin gray solid;
    min-width: 280px;
    min-height: 200px;
    text-align: center;
    margin: 10px;
    padding: 10px 10px 30px 10px;
    border-radius: 12px;
}
